body {
    background: #151515;
    overflow: hidden;
}

span {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0,0,0,0.1);
    opacity: 0.0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0,.9);
}

@font-face {
    font-family: 'Bebas';
    src: url("../../Fonts/BEBAS.ttf");
}

.one-third {
    width: 33%;
    height: 100%;
}

.hover-red:hover {
    cursor: pointer;
    color: #f11f22 !important;
}