#cookies-warning {
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: 60px;
    background: black;
    color: white;
    z-index: 999;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 9pt;
    transition: .4s;
    box-shadow: 0 -4px 4px 4px rgba(0,0,0, 0.5);
}
#cookies-warning.show {
    bottom: 0px;
}
#cookies-warning i {
    cursor: pointer;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: black;
    box-shadow: 0 4px 4px 4px rgba(0,0,0, 0.5);
    overflow: hidden;
}
    #header span, #header b {
        font-family: 'Bebas';
        color: white;
        margin-top: -2.5px;
        font-size: 10pt;
        transition: .4s;
    }

    #header i {
        color: white;
        font-weight: bold;
        font-size: 12pt
    }

    #header .page-title {
        height: 40px;
        padding: 0 10px;
        background: #f11f22;
        cursor: pointer;
        transition: .4s;
    }
        #header .page-title span {
            color: white; 
            font-family: 'Bebas';
            font-size: 14pt;
            letter-spacing: -1px;
            word-spacing: 4px;
            font-weight: 900;
            transition: .4s;
        }

        #header .page-title:hover {
            background: white;
        }
            #header .page-title:hover span {
                color: #f11f22;
            }

    #header .menu-button {
        margin-right: 6px;
        height: 3px;
        width: 20px;
        background: white;
    }

        #header .menu-button::after {
            content: '';
            position: absolute;
            margin-top: -8px;
            height: 3px;
            width: 16px;
            background: white;
        }

        #header .menu-button::before {
            content: '';
            position: absolute;
            margin-top: 8px;
            height: 3px;
            width: 12px;
            background: white;
        }

.header-left:hover {
    cursor: pointer;
}
    .header-left:hover span {
        color: #f11f22 !important;
        transition: .4s;
    }
    .header-left:hover .menu-button {
        background: #f11f22 !important;
        transition: .4s;
    }
        .header-left:hover .menu-button:after {
            background: #f11f22 !important;
            transition: .4s;
        }
        .header-left:hover .menu-button:before {
            background: #f11f22 !important;
            transition: .4s;
        }

        .header-middle.title {
        }

.header-middle.search {
    opacity: 0.0;
    position: absolute;
    z-index: 0;
    background: black;
    transition: .4s;
}
        .header-middle.search.show {
            z-index: 2;
            opacity: 1.0;
        }
        .header-middle.search .search-bar {
            width: calc(100% - 70px);
            border-bottom: 1px solid white;
        }
            .header-middle.search .close {
                cursor: pointer;
                transition: .4s;
            }
                .header-middle.search .close:hover {
                    color: #f11f22 !important;
                }
            .header-middle.search .search-bar input {
                width: 100%;
                height: 55px;
                padding: 0 10px;
                background: transparent;
                border: none;
                font-family: 'Lato';
                font-weight: bold;
                word-spacing: 4px;
                color: white;
            }

.header-middle.title .search-button {
    cursor: pointer;
    transition: .4s;
}
    .header-middle.title .search-button:hover {
        color: #f11f22 !important;
    }


.header-left {
    width: 100px;
    height: 100%;
    border-right: 1px solid white;
    padding: 0 20px;
    transition: .4s;
}
.header-middle {
    z-index: 1;
    width: calc(100% - 322px);
    padding: 0 20px;
    height: 100%;
}
.header-right {
    width: 100px;
    height: 100%;
    border-left: 1px solid white;
    padding: 0 20px;
}


#header.login .header-left {
    width: calc(100% - 121px);
}
#header.login .header-right {
    width: 100px;
}

#user-dropdown {
    position: absolute;
    right: 0;
    top: 80px;
    z-index: 999;
    padding: 0px 0;
    max-height: 0px;
    background: black;
    box-shadow: 0 4px 4px 4px rgba(0,0,0, 0.5);
    margin-right: 20px;
    overflow: hidden;
    transition: .4s;
    width: 101px;
}
    #user-dropdown.show {
        max-height: 999px;
        overflow: visible;
        padding: 20px 0;
    }
#user-dropdown a {
    font-family: 'Bebas';
    color: white;
    font-weight: bold;
    transition: .4s;
    font-size: 10pt;
}
#user-dropdown .arrow-up {
    position: absolute;
    bottom: 55px;
    opacity: 0.0;
    transition: .4s .2s;
}
#user-dropdown.show .arrow-up {
    opacity: 1.0;
}