.tile {
    position: relative;
    margin-bottom: 40px;
    height: 200px;
    flex-grow: 1;
    min-width: 280px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 4px 4px rgba(0,0,0, 0.5);
    border-radius: 2px;
    overflow: hidden;
}

    .tile .inner-tile {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .tile:hover .top, .tile:hover .bottom {
        opacity: 0.8;
    }
    .tile:hover .middle {
        opacity: 1.0;
    }

.background-image {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}
    .tile:hover .background-image {
        filter: brightness(0.4);
    }


.top, .bottom {
    height: 20%;
    overflow: hidden; 
}

.middle {
    height: 60%;
    padding: 10px;
    width: 280px;
    overflow: hidden;
    transition: .4s;
    opacity: 0.0;
}
.middle .synopsis {
    font-family: 'Lato';
    font-weight: bold;
    color: white;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
    font-size: 10pt;
}

.top {
    background: black;
    opacity: 0.5;
    transition: .4s;
}

.bottom {
    opacity: 0.0;
    transition: .6s;
}

    .top span {
        font-family: 'Bebas';
        color: white;
        font-weight: 900;
        font-size: 12pt;
    }

.bottom .button {
    background: black;
    border-radius: 2px;
    padding: 5px;
    color: white;
    transition: .4s;
}
.bottom .button:hover {
    background: rgba(0,0,0,0.5);
}

.bottom .button span {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 10pt;
    padding-bottom: 3px;
    padding-left: 4px;
}

.bottom .button.watched.selected i {
    color: green;
}

.bottom .button.favourite.selected i {
    color: red;
}