#tile-wrapper {
    position: absolute;
    top: 60px;
    left: 0;
    width: calc(100% - 20px);
    height: calc(100% - 80px);
    padding: 10px;
    overflow-y: scroll;
}

.tile {
    margin-bottom: 40px;
    height: 200px;
    flex-grow: 1;
    min-width: 300px;
    margin: 10px;
    background: url("");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0 4px 4px 4px rgba(0,0,0, 0.5);
    border-radius: 2px;
    overflow: hidden;
}


    .tile:hover .top, .tile:hover .bottom {
        opacity: 0.8;
    }

.top, .bottom {
    height: 20%;
    overflow: hidden;
    opacity: 0.5;
    transition: .4s;
}

.top {
    background: black;
}

    .top span {
        font-family: 'Bebas';
        color: white;
        font-weight: 900;
        font-size: 12pt;
    }
