@using MCUChecklist.Models

@{
    ViewBag.Title = "MCU Checklist";
}

@Html.Partial("Header/Header")

@model TilesModel

<div id="tile-wrapper" class="flex wrap h-between v-start">
    @foreach (Film film in Model.Films)
    {
        @Html.Partial("Tile/DefaultTile", film)
    }
</div>